@charset "UTF-8";
h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

#presentation h2, #functioning h2, #restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#category-menu h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

h5 {
  font-family: "Shrikhand", cursive;
  color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#functioning li {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: bold;
}

li {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}
li a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}

.price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

#presentation h2, #functioning h2, #restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#category-menu h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

h5 {
  font-family: "Shrikhand", cursive;
  color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#functioning li {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: bold;
}

li {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}
li a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}

.price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

footer {
  background-color: rgb(34, 30, 30);
  padding: 20px;
}
footer h5 {
  margin-bottom: 20px;
}
footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
footer li i {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

@media screen and (min-width: 769px) {
  footer h5 {
    font-size: 24px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer ul li {
    width: 23%;
    display: flex;
    justify-content: center;
  }
}
.button_gradient {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.button_gradient button {
  border: none;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 0 10px #c2c2c2;
  color: #fff;
  padding: 15px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.button_gradient button:hover {
  filter: brightness(110%);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

#bloc_page {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes disappear {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@-webkit-keyframes disappear-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-check {
  0% {
    -webkit-transform: rotateZ(100deg);
    transform: rotateZ(100deg);
  }
  50% {
    -webkit-transform: rotateZ(200deg);
    transform: rotateZ(200deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-check {
  0% {
    -webkit-transform: rotateZ(100deg);
    transform: rotateZ(100deg);
  }
  50% {
    -webkit-transform: rotateZ(200deg);
    transform: rotateZ(200deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
header i {
  font-size: 25px;
  width: 5%;
}

picture {
  width: 95%;
  display: flex;
  justify-content: center;
}

#img_laPaletteDuGout {
  height: 250px;
  background-position: center;
  width: 100%;
  background-image: url("../images/restaurants/restaurant_1.jpg");
  background-size: cover;
  margin-bottom: -40px;
}

#img_laNoteEnchantee {
  height: 250px;
  background-position: center;
  width: 100%;
  background-image: url("../images/restaurants/restaurant_2.jpg");
  background-size: cover;
  margin-bottom: -40px;
}

#img_aLaFrançaise {
  height: 250px;
  background-position: center;
  width: 100%;
  background-image: url("../images/restaurants/restaurant_3.jpg");
  background-size: cover;
  margin-bottom: -40px;
}

#img_leDeliceDesSens {
  height: 250px;
  background-position: center;
  width: 100%;
  background-image: url("../images/restaurants/restaurant_4.jpg");
  background-size: cover;
  margin-bottom: -40px;
}

#menu {
  padding: 20px;
  background-color: rgb(237, 237, 237);
  border-radius: 35px 35px 0 0;
  display: flex;
  flex-direction: column;
}
#menu #title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#menu .heart {
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 2;
}
#menu .heart .full_heart {
  border: none;
  background-color: rgb(237, 237, 237);
  width: 100%;
  height: 100%;
}
#menu .heart .full_heart i {
  font-size: 25px;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu .heart .empty_heart {
  border: none;
  background-color: rgb(237, 237, 237);
  color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}
#menu .heart .empty_heart i {
  font-size: 25px;
}
#menu .heart .empty_heart:hover {
  animation: disappear-heart 0.3s linear forwards;
}
#menu #category-menu {
  display: flex;
  flex-direction: column;
}
#menu #category-menu section .content {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 45px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  animation: fadein 6s forwards;
}
#menu #category-menu section .content--1 {
  animation-delay: 0s;
  animation-duration: 2s;
}
#menu #category-menu section .content--2 {
  animation-delay: 0s;
  animation-duration: 4s;
}
#menu #category-menu section .content--3 {
  animation-delay: 0s;
  animation-duration: 6s;
}
#menu #category-menu section .content .rotate-check {
  opacity: 0;
}
#menu #category-menu section .content .slide-left {
  width: 65px;
  height: 65px;
  margin-top: -10px;
  margin-right: -75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: all 0.6s;
}
#menu #category-menu section .content:hover .slide-left {
  margin-right: -10px;
}
#menu #category-menu section .content:hover .slide-left .rotate-check {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #fff;
  opacity: 1;
  -webkit-animation: rotate-check 0.5s linear both;
  animation: rotate-check 0.5s linear both;
}
#menu #category-menu h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 40px;
  padding-bottom: 5px;
  border-bottom: solid 3px #99E2D0;
}
#menu #category-menu .text {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#menu #category-menu .price {
  width: 10%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

@media screen and (min-width: 769px) {
  #img_laPaletteDuGout {
    height: 400px;
    width: 100%;
    background-image: url("../images/restaurants/restaurant_1.jpg");
    background-size: cover;
    margin-bottom: -40px;
  }

  #img_laNoteEnchantee {
    height: 400px;
    width: 100%;
    background-image: url("../images/restaurants/restaurant_2.jpg");
    background-size: cover;
    margin-bottom: -40px;
  }

  #img_aLaFrançaise {
    height: 400px;
    width: 100%;
    background-image: url("../images/restaurants/restaurant_3.jpg");
    background-size: cover;
    margin-bottom: -40px;
  }

  #img_leDeliceDesSens {
    height: 400px;
    width: 100%;
    background-image: url("../images/restaurants/restaurant_4.jpg");
    background-size: cover;
    margin-bottom: -40px;
  }

  header i {
    font-size: 25px;
  }

  header picture img {
    width: 60%;
    padding: 15px;
  }

  #bloc_page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu {
    width: 80%;
  }
  #menu #category-menu {
    flex-direction: column;
    justify-content: space-between;
  }
  #menu #category-menu section {
    width: 100%;
  }
}
@media screen and (min-width: 993px) {
  #menu {
    width: 80%;
  }
  #menu #category-menu {
    flex-direction: row;
    justify-content: space-between;
  }
  #menu #category-menu section {
    width: 30%;
  }
  #menu #category-menu section .content:hover {
    margin-left: 0;
  }
}

/*# sourceMappingURL=menu.css.map */
