h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

#presentation h2, #functioning h2, #restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#category-menu h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

h5 {
  font-family: "Shrikhand", cursive;
  color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#functioning li {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: bold;
}

li {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}
li a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}

.content-price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.new::before {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

#presentation h2, #functioning h2, #restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#category-menu h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

h5 {
  font-family: "Shrikhand", cursive;
  color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#functioning li {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: bold;
}

li {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}
li a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}

.content-price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.new::before {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

footer {
  background-color: rgb(34, 30, 30);
  padding: 20px;
}
footer h5 {
  margin-bottom: 20px;
}
footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
footer li i {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

@media screen and (min-width: 769px) {
  footer h5 {
    font-size: 24px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer ul li {
    width: 23%;
    display: flex;
    justify-content: center;
  }
}
.button_gradient {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.button_gradient button {
  border: none;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 0 10px #c2c2c2;
  color: #fff;
  padding: 15px 25px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.button_gradient button:hover {
  filter: brightness(110%);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

#bloc_page {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

#functioning {
  padding: 20px;
}

#functioning ol {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#functioning ol li {
  width: 100%;
  border-radius: 15px;
  background-color: rgb(239, 239, 239);
  box-shadow: 0 0 10px #c2c2c2;
  margin-top: 25px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#functioning ol .number {
  margin-left: -10px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#functioning ol p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#functioning li:hover {
  background-color: rgb(245, 237, 254);
  box-shadow: 0 0 10px #c2c2c2;
}

#functioning li:hover .number {
  color: #fff;
}

#functioning li:hover i {
  color: #9356DC;
}

#functioning i {
  margin-right: 25px;
  color: rgb(147, 147, 147);
}

@-webkit-keyframes disappear {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes disappear {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@-webkit-keyframes disappear-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-check {
  0% {
    -webkit-transform: rotateZ(100deg);
    transform: rotateZ(100deg);
  }
  50% {
    -webkit-transform: rotateZ(200deg);
    transform: rotateZ(200deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-check {
  0% {
    -webkit-transform: rotateZ(100deg);
    transform: rotateZ(100deg);
  }
  50% {
    -webkit-transform: rotateZ(200deg);
    transform: rotateZ(200deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#bloc-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  opacity: 0.8;
  animation: disappear 0.2s forwards;
  animation-delay: 2s;
}

#bloc-loader #loader {
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-top: solid 10px #9356DC;
  border-bottom: solid 10px #FF79DA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  inset: 0;
  -webkit-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

#bloc-loader #loader i {
  color: #99E2D0;
  font-size: 20px;
}

header picture img {
  width: 40%;
  padding: 15px;
}

picture {
  display: flex;
  justify-content: center;
}

#location {
  height: 50px;
  background-color: rgb(207, 207, 207);
  box-shadow: 0px 0px 5px rgba(128, 125, 125, 0.25) inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#location i {
  font-size: 20px;
  margin-right: 10px;
}

#presentation {
  padding: 35px;
  background-color: rgb(239, 239, 239);
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#presentation h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
#presentation p {
  margin-bottom: 20px;
}

#restaurant {
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#restaurant h2 {
  margin-bottom: 20px;
}
#restaurant .restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#restaurant .restaurant .new {
  position: relative;
}
#restaurant .restaurant .new::before {
  content: "Nouveau";
  width: 5rem;
  height: 1.5rem;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
}
#restaurant .restaurant .card {
  background-color: #fff;
  height: 20%;
  border-radius: 15px;
  box-shadow: 0 0 10px #c2c2c2;
  margin-bottom: 20px;
}
#restaurant .restaurant .card:hover {
  box-shadow: 0 0 10px #9356DC;
}
#restaurant .restaurant .card img {
  border-radius: 15px 15px 0 0;
  height: 175px;
  width: 100%;
  object-fit: cover;
}
#restaurant .restaurant .card .content {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#restaurant .restaurant .card .content-text {
  width: 75%;
}
#restaurant .restaurant .card .content-heart {
  width: 2%;
  position: relative;
  width: 25px;
  height: 25px;
  z-index: 2;
  float: right;
  margin-top: -47px;
  margin-right: 20px;
}
#restaurant .restaurant .card .content-heart .full_heart {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
#restaurant .restaurant .card .content-heart .full_heart i {
  font-size: 20px;
  background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#restaurant .restaurant .card .content-heart .empty_heart {
  border: none;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
}
#restaurant .restaurant .card .content-heart .empty_heart i {
  font-size: 20px;
}
#restaurant .restaurant .card .content-heart .empty_heart:hover {
  animation: disappear-heart 0.3s linear forwards;
}

@media screen and (min-width: 769px) {
  header picture img {
    width: 20%;
    padding: 15px;
  }

  #functioning {
    padding: 40px;
  }

  #restaurant {
    padding: 30px;
  }
  #restaurant .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #restaurant .restaurant article {
    width: 48%;
  }
}
@media screen and (min-width: 993px) {
  #functioning {
    padding: 50px;
  }
  #functioning ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #functioning ol li {
    width: 30%;
  }

  #restaurant {
    padding: 40px;
  }
  #restaurant .restaurant {
    flex-direction: row;
    justify-content: space-between;
  }
  #restaurant .restaurant article {
    width: 23%;
  }
}

/*# sourceMappingURL=style.css.map */
