*, ::before, ::after { 
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Shrikhand', cursive;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

header picture img {
    width: 40%;
    padding: 15px;
}


ul {
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
}

picture {
    display: flex;
    justify-content: center;
}

#location {
    height: 50px;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 5px rgba(128,125,125,0.25) inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    i {
        font-size: 20px;
        margin-right: 10px;
    }
}

#presentation {
    padding: 35px;
    background-color: rgb(239, 239, 239);
    text-align: center;
    font-family: 'Roboto', sans-serif;

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    button {
        border: none;
        text-decoration: none;
        border-radius: 25px;
        box-shadow: 0 0 10px #c2c2c2;
        color: #fff;
        padding: 15px 25px;
        background: linear-gradient(#FF79DA, #9356DC);
    }
}

#functioning {
    padding: 30px;

    article {
        width: 100%;
        border-radius: 15px;
        background-color: rgb(239, 239, 239);
        box-shadow: 0 0 10px #c2c2c2;
        margin-top: 25px;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .number {
            margin-left: -10px;
            background-color: #9356DC;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }

    i {
        margin-right: 25px;
        color: rgb(147, 147, 147);
    }
}

#restaurant {
    background-color: rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }

    .restaurant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        article {
            background-color: #fff;
            height: 20%;
            border-radius: 15px;
            box-shadow: 0 0 10px #c2c2c2;
            margin-bottom: 20px;
    
            img {
                border-radius: 15px 15px 0 0;
                height: 175px;
                width: 100%;
                object-fit: cover;
            }

            .content {
                padding: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                i {
                    font-size: 20px;
                }
            }
        }
    }

}

footer {
    background-color: rgb(34, 30, 30);
    padding: 20px;

    h4 {
        margin-bottom: 20px;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        i {
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
    }
}

