$primaire : #9356DC;
$secondaire : #FF79DA;
$tertiaire : #99E2D0;

*, ::before, ::after { 
    margin: 0;
    padding: 0;
}

#bloc_page {
    width: 100%;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

h5 {
    font-family: 'Shrikhand', cursive;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;

    i {
        font-size: 25px;
        margin-right: 60px;
    }
}

picture {
    display: flex;
    justify-content: center;
}

#img_laPaletteDuGout {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 100%;
    margin-bottom: -40px;
}

#img_laNoteEnchantee {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: bottom;
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 100%;
    margin-bottom: -40px;
}

#img_aLaFrançaise {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: 100%;
    margin-bottom: -40px;
}

#img_leDeliceDesSens {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: 100%;
    margin-bottom: -40px;
}

#menu {
    padding: 20px;
    background-color: rgb(237, 237, 237);
    border-radius: 35px 35px 0 0;

    #title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    i {
        font-size: 25px;
        margin-right: 10px;
    }

    h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 40px;
        padding-bottom: 5px;
        border-bottom: solid 3px $tertiaire;
    }

    .content {
        padding: 10px;
        background-color: #fff;
        border-radius: 15px;
        margin-bottom: 15px;
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text {
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .price {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
    }

    .button {
        display: flex;
        justify-content: center;
        padding: 25px;

        button {
            border: none;
            text-decoration: none;
            border-radius: 25px;
            box-shadow: 0 0 10px #c2c2c2;
            color: #fff;
            padding: 15px 25px;
            background: linear-gradient($secondaire, $primaire);
        }
    }
}

footer {
    background-color: rgb(34, 30, 30);
    padding: 20px;

    h5 {
        margin-bottom: 20px;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        i {
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
    }
}