@import "../Base/font";

footer {
    background-color: rgb(34, 30, 30);
    padding: 20px;

    h5 {
        margin-bottom: 20px;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        i {
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
    }
}

@media screen and (min-width: 769px) {

    footer {

        h5 {
            font-size: 24px;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            li {
                width: 23%;
                display: flex;
                justify-content: center;
            }
        }
    }
}