@-webkit-keyframes disappear {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        z-index: -2;
    }
}

@keyframes disappear {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        z-index: -2;
    }
}

@-webkit-keyframes disappear-heart {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes disappear-heart {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-check {
    0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
    }
    50% {
    -webkit-transform: rotateZ(200deg);
            transform: rotateZ(200deg);
    }
    100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    }
}

@keyframes rotate-check {
    0% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
    }
    50% {
    -webkit-transform: rotateZ(200deg);
            transform: rotateZ(200deg);
    }
    100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    }
}

@keyframes myAnim {
	0% {
	    opacity: 0;
	    transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-moz-keyframes myAnim {
	0% {
	    opacity: 0;
	    transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes myAnim {
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}